:root {
  --main-color: #4468e2;
  --heading-color: #0f0f0f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Proxima nova alt", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a:link,
a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--heading-color);
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.flex {
  display: flex;
}

/**************** Start Header *****************/
.nav {
  background-color: white;
  height: 60px;
}
.nav-container {
  justify-content: space-between;
}
.logo {
  height: 60px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 93px;
}
.menu {
  gap: 4.6rem;
  align-items: center;
}
.connect-btn {
  height: 60px;
  display: flex;
  align-items: center;
}
.connect-btn a:link,
.connect-btn a:visited {
  background-color: var(--main-color);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  color: white;
}

.nav .icon {
  display: none;
}
/**************** Start Hero *****************/

.hero {
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero.png");
  background-position: center center;
  background-size: cover;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
}
.hero .content {
  text-align: center;
}
.hero .content h1 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.hero .content p {
  font-size: 2rem;
  color: white;
  width: 36%;
  margin: 0 auto;
}
.hero .search {
  justify-content: center;
  margin-top: 5.2rem;
}
.form-container {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  gap: 2rem;
}
.form-container label {
  font-size: 1.8rem;
  color: var(--heading-color);
}
.form-container input {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  font-family: "Proxima nova alt", sans-serif;
}
.form-container input:focus {
  outline: none;
}
.form-container .form {
  border-right: 2px solid #eee;
}
.form-container .form:last-of-type {
  border-right: none;
}
.form-container .explore-btn {
  background-color: var(--main-color);
  padding: 2rem 2.4rem;
  border: none;
  color: white;
  font-size: 1.8rem;
  border-radius: 6px;
  cursor: pointer;
}

/**************** Start Features *****************/

.features {
  margin-top: 12.8rem;
  margin-bottom: 12.8rem;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}
.feature {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  padding: 2.4rem;
  border-radius: 10px;
}
.feature .icon {
  width: 7rem;
  height: 7rem;
  background-color: #ebf0fe;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature .icon img {
  width: 60%;
}
.feature h3 {
  font-size: 2rem;
  margin: 2rem 0;
}
.feature p {
  font-size: 1.8rem;
}

/**************** Start Places *****************/
.places {
  background-color: #f1faff;
  padding: 6.4rem 0;
}
.heading {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.places-header {
  text-align: center;
}
.tabs {
  border-bottom: 1px solid #eee;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.4rem;
  gap: 3.6rem;
  width: fit-content;
}
.tabs li {
  font-size: 2rem;
  position: relative;
  padding-bottom: 2rem;
}
.tabs li.active::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}
.places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem;
  position: relative;
}

.dots {
  position: absolute;
  top: -46px;
  left: -49px;
  width: 130px;
  z-index: 1;
}

.place {
  z-index: 2;
  position: relative;
}
.place img {
  width: 100%;
  z-index: 2;
}
.place h3 {
  font-size: 3rem;
}
.place p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.place-footer ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.place-footer li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1c4961;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place-footer img {
  width: 60%;
}
.place-footer div:first-child,
.place-footer div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-footer span {
  font-size: 3rem;
}
.place-footer p {
  font-size: 1.8rem;
}

/**************** Start Blogs *****************/
.blogs {
  margin-top: 12.8rem;
}
.blog-content {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
.blog-content img {
  width: 100%;
  height: 100%;
}
.blog-content .blog,
.blog-content .left {
  position: relative;
}
.blog-content h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.blog-content .left h3 {
  font-size: 4rem;
}
.blog-content .blog h3 {
  font-size: 2.4rem;
}

/**************** Start Happy Customers *****************/
.customers {
  margin-top: 12.8rem;
}
.customers .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.6rem;
  padding: 0 5.6rem;
  margin-top: 4.6rem;
}
.customer {
  display: flex;
  gap: 2.4rem;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  padding: 2.4rem;
  border-radius: 6px;
}
.customer p {
  font-size: 1.6rem;
}
.customer .customer-info {
  display: flex;
  gap: 2.4rem;
  margin-top: 3.6rem;
  align-items: center;
}
.customer .name {
  font-size: 1.6rem;
  font-weight: bold;
}
.customer span {
  font-size: 1.6rem;
  color: #848484;
}
.customer img.customer-img {
  width: 55px;
  height: 55px;
}
/**************** Start footer *****************/
.footer {
  margin-top: 12.8rem;
  margin-bottom: 6.4rem;
}
.footer .content {
  background-color: #e1e8f8;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.4rem;
}
.copyright {
  font-size: 1.8rem;
}

.social-media ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
